/* font-family: 'Open Sans', sans-serif;
font-family: 'Quattrocento Sans', sans-serif; */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: 'Quattrocento Sans', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #23b7a4;
}

.header {
  background-color: #292f36;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 31px 0 32px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.navigation-list {
  display: flex;
  font: 14px 'Open Sans', sans-serif;
  font-weight: 600;
}

.navigation-list li {
  margin-left: 40px;
  border: 2px solid transparent;
}

.navigation-list li a {
  color: #a4aead;
  padding: 0 10px;
  line-height: 30px;
}

.navigation-list li.active a{
  color: #23b7a4;
}

li.active {
  border: 2px solid #23b7a4;
  border-radius: 4px;
}

.navigation-list li:hover {
  border: 2px solid #5b6168;
  border-radius: 4px;
}

.slider {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #fff;
  position: relative;
}

.slider img {
  width: 100%;
}

.slider-info {
  position: absolute;
  top: 26%;
  left: 13%;
  max-width: 650px;
}

.slider-info h1 {
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.slider-info span {
  font: 16px/26px 'Open Sans', sans-serif;
  color: #ccd0d7;
  display: block;
  margin-bottom: 40px;
}

.slider-buttons a {
  color: #fff;
  font: 14px/28px 'Quattrocento Sans', sans-serif;
  margin-right: 11px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 17px 24px;
}

.slider-buttons a:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
}